:host {
  display: block;
  padding: 20px;
}

form {
  margin-bottom: 20px;
  background-color: #fff;
  // padding: 20px;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  border: none;
  background-color: purple;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background: #6a3e9c;
}

.container {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
}

.editor {
  background-color: #fff;
  border-radius: 10px;
}

.project {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1.2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project .title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.8rem;
}

.project .description {
  font-size: 14px;
  color: #555;
}

.card {
  padding: 1rem;
  background-color: #f3f3f3;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.card .date {
  font-size: 14px;
  color: #888;
  margin-bottom: 0.6rem;
}

.card .title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.6rem;
}

.card .description {
  font-size: 15px;
  color: #666;
  line-height: 1.6;
}

.card .tags {
  margin-top: 1rem;
}

.card .tag {
  display: inline-block;
  background-color: #e4e4e4;
  padding: 5px 10px;
  margin-right: 8px;
  border-radius: 20px;
  font-size: 12px;
  color: #333;
}

.card .tag-primary {
  background-color: #6a3e9c;
  color: #fff;
}

.card .tag-secondary {
  background-color: #ddd;
  color: #333;
}

.drafts {
  padding: 0 20px;
  // background-color: #f9f9f9;
  border-radius: 10px;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.drafts .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.drafts .top input {
  border: none;
  outline: none;
  padding: 10px;
  background-color: #f7f7f7;
  width: 85%;
  border-radius: 5px;
  font-size: 14px;
}

.drafts .top input::placeholder {
  color: #888;
}

.drafts .top fa-icon {
  font-size: 20px;
  color: #6a3e9c;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.drafts .top fa-icon:hover {
  transform: scale(1.1);
}

.drafts .notes {
  background-color: #fcfcfc;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.drafts .notes .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.drafts .notes .header .date {
  font-size: 14px;
  color: #999;
  font-weight: 500;
}

.drafts .notes .header .end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.drafts .notes .header fa-icon {
  cursor: pointer;
  color: #888;
  transition: color 0.3s;
}

.drafts .notes .header fa-icon:hover {
  color: #6a3e9c;
}

.drafts .notes .content {
  font-size: 14px;
  color: #444;
  line-height: 1.5;
}

.drafts .draft-image {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: 7px;
}

.drafts .notes .content p {
  margin-bottom: 1rem;
}

/* Added styles for note title and input box */
label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

.title input {
  width: 100%;
  padding: 0.8rem;
  font-size: 14px;
  color: #333;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: border 0.3s;
}

.title input:focus {
  outline: none;
  border-color: purple;
}

.editor .editor-container {
  margin-top: 1rem;
  border-radius: 10px;
}

.editor textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  color: #333;
  background-color: #f7f7f7;
}

.editor textarea:focus {
  outline: none;
  border-color: purple;
}
