<div class="container">
  <div class="editor">
    <div
      style="
        width: 100%;
        margin-bottom: 1rem;
        border: 1px solid rgb(225, 225, 225);
        border-radius: 7px;
      "
    >
      <nta-project-card [project]="project" [width]="'100%'"></nta-project-card>
    </div>

    <ng-container *ngFor="let note of notes">
      <div class="card">
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <p class="date">{{ note.createdAt | date : "medium" }}</p>
          <div
            class="icons"
            style="
              display: flex;
              justify-content: start;
              align-items: center;
              gap: 0.5rem;
              font-size: 14px;
              color: gray;
              cursor: pointer;
            "
          >
            <fa-icon [icon]="faEdit" />
            <fa-icon [icon]="faTrashAlt" (click) = "deleteNote(note._id)"/>
          </div>
        </div>
        <h3 class="title">{{ note.title }}</h3>
        <nta-html-viewer [rawContent]="note.content"></nta-html-viewer>

        <div class="tags">
          <span class="tag tag-primary"></span>
          <span class="tag tag-secondary"></span>
        </div>
      </div>
    </ng-container>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="title">
        <label for="label">Note title</label>
        <input type="text" id="title" formControlName="title" />
      </div>

      <label for="label">Content</label>
      <editor [init]="editorInit" formControlName="content"></editor>
      <button
        type="submit"
        style="
          width: 100%;
          border: none;
          padding: 0.7rem 1rem;
          color: #fff;
          font-weight: 500;
          border-radius: 7px;
          float: right;
        "
      >
        Save Note
      </button>
    </form>
  </div>

  <div class="drafts">
    <div class="top">
      <input
        type="text"
        placeholder="Write a draft note"
        [(ngModel)]="newDraftContent"
        (keyup.enter)="saveDraft()"
        style="background-color: #fff"
      />
      <fa-icon [icon]="faFileImage" (click)="fileInput.click()"></fa-icon>
      <input
        #fileInput
        type="file"
        (change)="onFileSelected($event)"
        style="display: none;"
        accept="image/*"
        multiple
      />
    </div>

    <ng-container *ngFor="let note of draftNotes; let i = index">
      <div class="notes">
        <div class="header">
          <p class="date">{{ note.createdAt | date : "medium" }}</p>
          <div class="end">
            <fa-icon [icon]="faTrashAlt" (click)="deleteDraft(note._id, i)"></fa-icon>
            <fa-icon [icon]="faEdit" (click)="editDraft(note)"></fa-icon>
          </div>
        </div>
        <div class="content">
          <p>{{ note.content }}</p>
          <ng-container *ngIf="note.images && note.images.length > 0">
            <img *ngFor="let image of note.images" [src]="image" alt="Draft Image" class="draft-image" />
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
