<section class="home">
  <section class="home__top__left">
    <div class="header">
      <fa-icon [icon]="faFolder" />
      <p>My projects</p>
    </div>

    <div class="projects">
      <ng-container *ngFor="let project of projects">
        <nta-project-card [project] = "project"></nta-project-card>
      </ng-container>
    </div>
  </section>
  <section class="home__top__right">
    <div class="header">
      <fa-icon [icon]="faCircleCheck" />
      <p>My tasks</p>
    </div>
    <div style="background: #fff; padding: 10px 10px; border-radius: 7px">
      <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6]">
        <div class="tasks">
          <div
            style="
              display: flex;
              gap: 10px;
              justify-content: center;
              align-items: center;
            "
          >
            <input type="checkbox" />
            <div class="detail">
              <p>Work on plan</p>
              <p class="time-left">3 hour left</p>
            </div>
          </div>
          <fa-icon [icon]="faStar" />
        </div>
      </ng-container>
    </div>
  </section>
  <section class="home__bottom__left">
    <div class="header">
      <fa-icon [icon]="faStickyNote" />
      <p>My notes</p>
    </div>

    <div class="notes">
      <ng-container *ngFor="let note of notes">
        <nta-note-card [note] = "note"></nta-note-card>
      </ng-container>
    </div>
  </section>
  <section class="home__bottom__right">
    <div class="header">
      <fa-icon [icon]="faClock" />
      <p>Recent activity</p>
    </div>

    <div class="activity">
        <ng-container *ngFor="let activity of recentActivities">
          <div
            style="
              display: flex;
              gap: 1rem;
              align-items: flex-start;
              margin-bottom: 1.5rem;
            "
          >
            <img
              [src]="activity.profile"
              [alt]="activity.name"
              style="height: 50px; width: 50px; border-radius: 50%"
            />
      
            <div class="detail">
              <p style="color: rgb(97, 97, 97); font-size: 14px; margin: 0;">
                {{ activity.name }}
              </p>
              <p style="color: rgb(165, 164, 164); font-size: 14px; margin: 0;">
                {{ activity.activity }}
              </p>
              <p style="font-size: 12px; color: gray; margin: 0;">
                {{ activity.date }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
      
  </section>
</section>
