<div class="authentication">
  <div class="authentication__header">Login here!</div>

  <form
    [formGroup]="loginForm"
    (ngSubmit)="onLogin()"
    class="authentication__form"
  >
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter your username"
        formControlName="username"
        required
      />
      <small
        *ngIf="
          loginForm.get('username')?.invalid &&
          (loginForm.get('username')?.dirty ||
            loginForm.get('username')?.touched)
        "
        class="error-message"
        class="error-message"
      >
        * Username is required.
      </small>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        formControlName="password"
        required
        minlength="6"
      />
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          (loginForm.get('password')?.dirty ||
            loginForm.get('password')?.touched)
        "
        class="error-message"
      >
        * Password is required.
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="login-button" [disabled]="loginForm.invalid">
        Login
      </button>
    </div>

    <div class="social-login">
      <a (click)="navigateToRegister()" class="register">Not registered yet?</a>
      <p>Or login with:</p>
      <button
        type="button"
        class="social-button google-button"
        (click)="loginWithGoogle()"
      >
        Google
      </button>
      <button
        type="button"
        class="social-button github-button"
        (click)="loginWithGitHub()"
      >
        GitHub
      </button>
    </div>
  </form>
</div>
