$white: #ffffff;
$primary-color: #7c5dfa;
$text-color: #4a5568;
$text-color-light: #a0aec0;
$border-color: #e2e8f0;

$purple: #9f7aea;
$green: #48bb78;
$orange: #ed8936;
$pink: #ed64a6;
$yellow: #ecc94b;